<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>더조은 아카데미 UI 구현 게시판 레이아웃</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--jq - bs - bsslider - fontawesome 순으로 cdnjs -->
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <!-- jquery -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- 번들은 popper,popover,dropdown 등 다른 라이브러리가 포함됨 -->

    <!-- bxslider -->
    <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class='wrap'>
        <!-- 여긴 100프로 -->
        <header class="container-fluid">
            <!-- 여긴 콘테이너 -->
            <div class="container clearfix p-2">
                <a href="index.html" class="float-start"><img src="images/the.gif" alt="로고" class="img-fluid" width="250"></a>
                <h1 class="text-center fw-bold p-3">더조은 아카데미 UI 구현 게시판 레이아웃</h1>
            </div>
        </header>
        <nav class="navbar bg-dark navbar-expand-sm">
            <!-- 모바일에선 네이게이션 바가 상실됨....? -->
            <!-- d-flex : 디스플레이를 플렉스로 만드는거임. 이미 flex라서 안적어도됨. flex를 관할하는 부모에 적어야함 -->
             <!-- space-between을 왼쪽으로 덮어쓰겠다 -->
            <ul class="navbar-nav container justify-content-start">
                <!-- container의 역할 : 수평 화면 분할 -->
                <li class="mx-5 nav-item"><a class="nav-link text-white" href="index.html">메인페이지</a></li>
                <li class="mx-5 nav-item"><a class="nav-link text-white" href="mypage.html">마이페이지</a></li>
                <li class="mx-5 nav-item"><a class="nav-link text-white" href="post.html?category=1">공지사항</a></li>
                <li class="mx-5 nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" >게시판</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="post.html?category=2">자유게시판</a></li>
                        <li><a class="dropdown-item" href="post.html?category=3">자료실</a></li>
                        <li><a class="dropdown-item" href="gallery.html">갤러리</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <main class="container">
            <h1>index</h1>
        </main>
        <footer class="bg-warning text-center p-4">
            <address>서울특별시 구로구 디지털로 306 2층 더조은아카데미</address>
            <p>All rights reserved &copy; copyright.</p>
        </footer>
    </div>
</body>
</html>